<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koffuxu.myapplication"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Service Test-->
        <activity android:name=".service.Client"></activity>
        <service android:name=".service.LocalService"></service>
        <service android:name=".service.RemoteService"></service>

        <!-- Bitmap Test -->
        <activity android:name=".BitmapListActivity"></activity>
        <activity android:name=".bitmap.BitmapTest"></activity>
        <activity android:name=".bitmap.CanvasPaint"></activity>
        <activity android:name=".bitmap.AnimationTest"></activity>
        <activity android:name=".bitmap.MatrixActivity"></activity>
        <activity android:name=".bitmap.SurfaceViewMyActivity"></activity>
        <activity android:name=".bitmap.TweenMyActivity"></activity>
        <activity android:name=".bitmap.BitmapReflectionActivity"></activity>

        <!-- file ops Test -->
        <activity android:name=".fileOps.CopyLogActivity"></activity>

        <!-- View Test -->
        <activity android:name=".ViewListActivity"></activity>
        <activity android:name=".view.FragmentViewTest"></activity>

        <!-- Java Base Test -->
        <activity android:name=".BaseActivity"></activity>

        <!-- koffu prj Test -->
        <activity android:name=".KoffuProjectListActivity"></activity>
        <activity android:name=".prj.floadwindow.FloatWindowMainActivity"></activity>
        <service android:name=".prj.floadwindow.FloatWindowService"></service>
        <!-- Socket test activty -->
        <activity android:name=".network.SocketTestActivity"></activity>
        <!-- 3nd Lib Test -->
        <activity android:name=".ThirdLibListActivity"></activity>
        <activity android:name=".ButterKnifeTest"></activity>



    </application>
    <!-- file ops Test -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Sokect Test -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>